@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sticky-area-wrap .header-ct-right .account img{
  object-fit: fill !important;
}

.notify-bell {
  display: flex !important;
}

.notify-bell img {
  width: 25px !important;
  flex-shrink: 0;
}

#specificDiv .user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
}

#specificDiv .user-info p {
  font-size: 9px;
  color: #2C2C2C;
  line-height: 1.2;
}

#specificDiv .user-info h6 {
  font-size: 12px;
  color: #000;
  line-height: 1.2;
}

@media screen and (min-width:769px) {
  .notify-bell img {
    display: flex;
  }
}

@media screen and (max-width:540px) {
  #specificDiv .user-info {
    display: none;
  }
}

.container1 {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-right: 15px;
}

.header-ct-center .robo-card-para {
  font-size: 14px;
  margin-left: 0 !important;
}

.header-ct-center .robo-container {
  width: 85%;
  justify-content: center !important;
}

.sticky-down {
  display: none;
}

.header-ct-center .container1 .robo-card-text button::after {
  content: "Get Started";
}

@media screen and (max-width: 1600px) {
  .header-ct-center .robo-container {
    margin-left: 50px;
  }
}

@media screen and (max-width:1302px) {
  .header-ct-center .robo-container {
    margin-top: -35px;
  }
}

@media screen and (max-width:1175px) {

  .header-ct-center .robo-card-para {
    display: none;
  }

  .header-ct-center .container1 .robo-card-text button::after {
    content: "Ask Newton!";
  }

  .container1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #EF8C2F;
    border-radius: 5px;
  }

  .container1 .robo-card-text button {
    background: transparent linear-gradient(80deg, #FBBB5C 0%, #E66A0E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #F7AA4B;
  }
}


@media screen and (max-width:900px) {
  .header-ct-center {
    display: none !important;
  }

  .sticky-down {
    display: flex;
    justify-content: center;
  }

  .sticky-down .display-flex {
    max-width: 90%;
    justify-content: center;
  }



  .sticky-down .robo-container .robo-card {
    margin-top: -20px !important;
    display: flex;
    flex-direction: row;
    height: 40px;
  }

  .sticky-down .container1 {
    background: transparent linear-gradient(276deg, #FBBB5C 0%, #E66A0E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #F7AA4B;
    border-radius: 6px;
  }

  .sticky-down .container1 .robo-card-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: middle;
    margin-left: 10px;
  }

  .sticky-down .container1 .robo-card-text .robo-card-para {
    font-size: 12px;
    display: inline-block;
    margin-top: -3px;
    vertical-align: middle;
  }

  .sticky-down .container1 .robo-card-text button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #EF8C2F;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: -10px;
  }

}



.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}